<div id={@id}>
  <h4><%= @label %> (<%= @amount %>)</h4>
  <table class="cookies data" data-sortable>
    <thead>
      <tr>
        <th class="domain" data-sort-default><%= gettext "Domain" %></th>
        <th class="name"><%= gettext "Name" %></th>
        <th class="value"><%= gettext "Value" %></th>
        <th class="expires"><%= gettext "Expires on" %></th>
        <th class="httponly">HttpOnly</th>
        <th class="secure">Secure</th>
        <th class="secure">SameSite</th>
      </tr>
    </thead>
    <tbody>
      <%= for cookie <- @cookies do %>
        <tr>
          <td data-label={gettext ~s(Domain)} class="userdata"><%= cookie["domain"] %></td>
          <td data-label={gettext ~s(Name)} class="userdata"><%= truncate(cookie["name"], 20) %></td>
          <td data-label={gettext ~s(Value)} class="userdata"><%= truncate(cookie["value"], 20) %></td>
          <td data-label={gettext ~s(Expires on)}>
            <%= if cookie["session"] == true, do: "session", else: format_timestamp(cookie["expires"]) %>
          </td>
          <td class="pass" data-label="HttpOnly">
            <%= if cookie["httpOnly"] do %>
              <%= icon(:pass) %> <%= gettext("Yes") %>
            <% else %>
              <%= icon(:fail) %> <%= gettext("No") %>
            <% end %>              
          </td>
          <td class="pass" data-label="Secure">
            <%= if cookie["secure"] do %>
              <%= icon(:pass) %> <%= gettext("Yes") %>
            <% else %>
              <%= icon(:fail) %> <%= gettext("No") %>
            <% end %>              
          </td>
          <td class="pass" data-label="SameSite">
            <%= if cookie["sameSite"] do %>
              <%= icon(:pass) %> <%= gettext("Yes") %>
              (<code><%= cookie["sameSite"] %></code>)
            <% else %>
              <%= icon(:fail) %> <%= gettext("No") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>