<table class="requests data" data-sortable>
  <thead>
    <tr>
      <th class="host" data-sort-default><%= gettext "Host" %></th>
      <th><%= gettext "IP" %></th>
      <th><%= gettext "Classification" %></th>
      <th><%= gettext "URLs" %></th>
    </tr>
  </thead>
  <tbody>
    <%= for {{host, data}, counter} <- Enum.with_index(@requests) do %>
    <% host_info = List.first(data) %>
      <tr>
        <td data-label={gettext ~s|Host|}>
          <%= host %>

          <ul id={"host-#{counter}"}>
            <%= for request <- data do %>
            <li>
              <%= if String.starts_with?(request.url, "https") do %>
                🔒 
              <% else %>
                🔓 
              <% end %>
            <%= link "#{truncate(request.url, 70)}", to: request.url %>
            </li>
            <% end %>
          </ul>
        </td>
        <td data-label={gettext ~s|IP|}><a href={"https://tools.keycdn.com/geo?host=#{host_info.ip}"}><%= host_info.ip %></a></td>
        <td data-label={gettext ~s|Classification|}><%= Webbkoll.Trackers.check(PublicSuffix.registrable_domain(host, ignore_private: true)) %></td>
        <td data-label={gettext ~s|URLs|} class="info"><span class="non-button-toggle" role="button" tabindex="0" data-a11y-toggle={"host-#{counter}"}><%= gettext("Show") %> (<%= Enum.count(data) %>) </span></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <p><%= gettext(~s|We use <a href="%{url_mozilla}">Mozilla's version</a> of Disconnect's <a href="%{url_disconnect}">open source list of trackers</a> to classify hosts.|, url_mozilla: "https://github.com/mozilla-services/shavar-prod-lists", url_disconnect: "https://github.com/disconnectme/disconnect-tracking-protection") |> raw %></p>
